body
{ background: #656565;
  color: #D5D2D6;
}

blockquote{border-color: #109CEF;}

#main
{ background: #414141 url(main.png) repeat-y;
  color: #D5D2D6;
}

#links, #footer, #menu li a
{ background: #545454 url(gradient.png);
  color: #D5D2D6;
  border-color: #109CEF;
}

#links a, #footer a
{ background: transparent;
  color: #D5D2D6;
}

#links a:hover, #footer a:hover
{ background: transparent;
  color: #109CEF;
}

#logo
{ background: #FFF url(logo.jpg) no-repeat;
  color: #D5D2D6;
  border-color: #109CEF;
}

h1, #column1 h1, #column2 h1
{ background: transparent;
  color: #109CEF;
  border-color: #787878;
}

#menu
{ background: transparent;
  color: #D5D2D6;
}

.sidebaritem
{ background: #545454;
  color: #D5D2D6;
}

#menu li a:hover, #menu li a#selected, #menu li a#selected:hover
{ background: #109CEF;
  color: #FFF;
}

#content, #column2, #column2 a
{ background: #414141;
  color: #D5D2D6;
  border-color: #D5D2D6;
}

#column2 a:hover
{ background: #414141;
  color: #109CEF;
  border-color: #109CEF;
}

.sbilinks li a, .sidebaritem a
{ background: #545454 url(arrow.png) no-repeat left center;
  color: #D5D2D6;
}

.sbilinks li a:hover, .sidebaritem a:hover
{ background: #545454 url(blue_arrow.png) no-repeat left center;
  color: #109CEF;
}

/* Based on Nifty Corners: rounded corners without images */
/* By Alessandro Fulciniti */
/* http://www.html.it/articoli/nifty/index.html */
.rtop, .rbottom{background: #414141;}
.rtop .r1, .rtop .r2, .rtop .r3, .rtop .r4,
.rbottom .r1, .rbottom .r2, .rbottom .r3, .rbottom .r4{background: #545454;}

.row {
padding-top: 75px
}

    .container{
margin-bottom: 0.8rem;
}

.card{
border-radius: 25px;
/* border-top-right-radius: 25px;
border-bottom-left-radius: 25px; */
background-color:  white;
box-shadow: 10px 15px 10px #4a4e69;
width: 92%;
}

.card-title{
margin-bottom: 0 !important;
font-family: 'Bebas Neue', cursive;
}

a{
color: #003049 !important;
text-decoration: none;
}

small{
color: lightslategray;
}

p{
color: rgb(43, 37, 37);
}

/* i{
padding: 0px 7px;
cursor: pointer;
} */